
header {
    background-color: gray;
    color: white;
    border: 0px;
    margin: 0px;
    padding: 0px
}

#nav {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    position: sticky;
    top: 0;
}
#nav a {
    display: inline;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: right;
}

#nav a:hover {
    background-color: darkgray;
}